@import './base.css';
@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    winter --default,
    synthwave --prefersdark;
}

@theme {
  --font-titles: 'Futura', 'sans-serif';
  --font-body: 'Helvetica', 'sans-serif';
}
